.card {
    background-color: $element-color;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 12px $shadow-color;
}

.card__img {
    width: 100%;
    min-height: 10em;
    height: 35vw;
    object-fit: cover;
    
    @include breakpoint(medium) {
        height: 17.5vw;
    }

    @include breakpoint(large) {
        height: 10em;
    }
}

.card__items {
    list-style-type: none;
    padding: 1.5em;
    padding-bottom: 2.5em;
}

.card__label {
    margin-top: -0.3em;
    margin-bottom: 0.9em;
}
