.dark {
    display: flex;
    align-items: center;
    padding-top: 2px;

    p {
        font-size: 0.78rem;
    }

    &:hover {
        cursor: pointer;
    }
}

.dark__icon {
    margin-right: 1em;
    font-size: 0.7em;
}