.dark {
    display: flex;
    align-items: center;
    padding-top: 2px;

    &:hover {
        cursor: pointer;
    }
}

.dark__icon {
    margin-right: 1em;
    font-size: 0.7em;
}

.dark__label {
    font-size: 0.78rem;
}

@include breakpoint(large) {
    .dark__icon,
    .dark__label {
        font-size: 1rem;
    }
}
