.profile__wrapper {
    @include breakpoint(large) {
        margin-top: 5em;
        padding-right: 2em;
    }
}

.profile__img {
    margin: 4em 0 2.75em 0;
    height: 61vw;
    @include breakpoint(large) {
        margin: 0;
        height: 100%;
        width: 44%;
    }
}

.profile__details {
    @include breakpoint(large) {
        margin-top: 2.25em;
        width: 44%;
    }
}

.profile__label {
    font-size: 1.37rem;
    margin-bottom: 1em;
    grid-column: 1 / -1;

    @include breakpoint(large) {
        font-size: 2rem;
        margin-bottom: 1em;
    }
}

.profile__items {
    list-style-type: none;
    margin-bottom: 2.75em;
}

.profile__item {
    font-size: 0.875rem;
    margin-bottom: 0.95em;

    @include breakpoint(large) {
        font-size: 1rem;
        margin-bottom: 0.6em;
    }
}