.profile__img {
    margin: 4em 0 2.27em 0;
    height: 61vw;
}

.profile__label {
    font-size: 1.37rem;
    margin-bottom: 1.1em;
}

.profile__items {
    list-style-type: none;
}

.profile__item {
    font-size: 0.875rem;
    margin-top: 0.5em;
    margin-bottom: 0.95em;
}