.search {
    position: relative;
}

.search__icon {
    position: absolute;
    top: 22px;
    left: 2.5em;
}

.search__box {
    width: 100%;
    margin-bottom: 3em;
    background-color: $element-color;
    padding: 1.25em 2em 1.25em 6em;
    border-radius: 6px;
}