.search {
    position: relative;
    margin-top: 1.65em;
}

.search__icon {
    position: absolute;
    font-size: 0.95rem;
    top: 15px;
    left: 2.1em;
}

.search__box {
    width: 100%;
    margin-bottom: 3em;
    background-color: $element-color;
    padding: 1.25em 2em 1.25em 6.2em;
    border-radius: 6px;
}