.search {
    position: relative;
    margin-bottom: 2.5em;

    @include breakpoint(large) {
        width: 38%;
    }
}

.search__icon {
    position: absolute;
    font-size: 0.95rem;
    top: 15px;
    left: 2.1em;

    @include breakpoint(large) {
        font-size: 1rem;
        left: 2em;
        top: 19px;
    }
}

.search__box {
    width: 100%;
    background-color: $element-color;
    padding: 1.25em 2em 1.25em 6.2em;
    border-radius: 6px;

    @include breakpoint(large) {
        padding-left: 5em;
    }
}