:root {
    --background-color: hsl(207, 26%, 17%);
    --input-color: hsl(0, 0%, 100%);
    --element-color: hsl(209, 23%, 22%);
    --text-color: hsl(0, 0%, 100%);
}

.light {
    --background-color: hsl(0, 0%, 98%);
    --input-color: hsl(0, 0%, 52%);
    --element-color: hsl(0, 0%, 100%);
    --text-color: hsl(200, 15%, 8%);
}

$background-color: var(--background-color);
$input-color: var(--input-color);
$element-color: var(--element-color);
$text-color: var(--text-color);
