$font-family: "Nunito Sans", sans-serif;

$font-sizes: (
    home: 14px,
    detail: 16px,
);

$font-weights: (
    light: 300,
    medium: 600,
    bold: 800,
);

@mixin get-font($weight, $size) {
    font-family: $font-family;
    @include get-weight($weight);
    @include get-size($size);
}

@mixin get-weight($weight) {
    @if not map-has-key($font-weights, $weight) {
        @error "Font-weights has no definition for #{$weight}.";
    }

    font-weight: map-get($font-weights, $weight);
}

@mixin get-size($size) {
    @if not map-has-key($font-sizes, $size) {
        @error "Font sizes has no definition for #{$size}.";
    }

    font-size: map-get($font-sizes, $size);
}
