.main-container {
    background-color: $background-color;
    @include get-font(light, detail);
    color: $text-color;
    min-height: 100vh;
}

.container,
.header-container {
    @include centered-container(91.5%);
}

.country-container {
    @include centered-container(80%);
}

.header-container {
    padding: 1.85em 0;
}
