.main-container {
    background-color: $background-color;
    @include get-font(light, detail);
    color: $text-color;
    min-height: 100vh;
}

.country-container,
.header-container {
    @include centered-container(91.5%);
    max-width: 1280px;
}

.header-container {
    padding: 1.92em 0;

    @include breakpoint(large) {
        padding: 1.5em 0;
    }
}

.country-container {
    padding: 1.55em 0;

    @include breakpoint(large) {
        padding: 3em 0;
    }
}

.profile-container {
    padding: 1em 0;

    @include breakpoint-size-change(93%, large, 100%) {
        margin: 1em 0;
    }
}

.cards-container {
    @include breakpoint-size-change(77%, large, 100%);
}
