.main {
    background-color: $background-color;
    @include get-font(light, detail);
    color: $text-color;
    min-height: 100vh;
}

header {
    background-color: $element-color;
}

h1 {
    font-size: 1.1rem;
}

input,
select {
    border-radius: 6px;
    background-color: $element-color;
    font-family: $font-family;
    color: $input-color;
    border: none;
    font-size: 1rem;
}