header {
    background-color: $element-color;
}

h1 {
    font-size: 0.85rem;
    letter-spacing: 0.2px;
}

input,
select {
    border-radius: 6px;
    background-color: $element-color;
    font-family: $font-family;
    color: $input-color;
    border: none;
    font-size: 0.75rem;
}

img {
    width: 100%;
}