select {
    padding: 1.25em 2em 1.25em 1.7em;
    width: 16.5em;
    margin-top: 1px;
    margin-bottom: 2.55em;

    @include breakpoint(large) {
        width: 14em;
        height: 3.75em;
        margin-bottom: 3.5em;
    }
}

// Fix arrow problem
