[class*="l-flex"] {
    display: flex;
    flex-direction: column;

    @include breakpoint(medium) {
        flex-direction: row;
    }
}

.l-flex-reversed {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.l-flex-filter{
    @include breakpoint(medium) {
        justify-content: space-between;
    }
}